@import './app.css';

@layer components {
    .btn-primary {
        @apply cursor-pointer w-full bg-button-primary dark:bg-button-primary-dark text-text-dark font-semibold py-3 rounded-lg text-sm active:scale-[0.98] transition-transform border border-border dark:border-border-dark hover:bg-gray-600;
    }

    .btn-danger {
        @apply w-full flex items-center justify-center gap-2 bg-button-foreground dark:bg-button-foreground-dark text-gray-200 dark:text-text-dark font-semibold py-4 rounded-xl text-sm border border-border dark:border-red-900/30;
    }

    .text-input-primary {
        @apply w-full bg-text-input dark:bg-text-input-dark rounded-lg py-3 px-4 text-sm transition-all dark:text-text-dark border border-border dark:border-border-dark;
    }

    .card-component-container-1{
        @apply flex items-center justify-between p-3 border-b border-border dark:border-border-dark;
    }

    .card-component-container-2{
        @apply bg-card dark:bg-card-dark p-5 rounded-2xl shadow-sm border border-slate-50 dark:border-border-dark;
    }

    .card-button-fixed-bottom-right {
        @apply fixed bottom-28 right-6 w-16 h-16 bg-card dark:bg-card-dark text-text dark:text-text-dark rounded-2xl shadow-2xl flex items-center justify-center active:scale-90 transition-transform z-40 border border-blue-500/30 dark:border-blue-50/20 hover:bg-gray-300;
    }
}