@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-text: #262626;
    --color-text-foreground: #222222;
    --color-background: #fffff2;
    --color-foreground: oklch(0.1 0.01 240);
    --color-card: #FFFFFF;
    --color-card-foreground: oklch(0.1 0.01 240);
    --color-border: rgba(37, 52, 63, .2);
    --color-button-primary: #16423C;
    --color-button-foreground: #CD1818;
    --color-text-input: #FAF0E6;
    --color-text-input-foreground: #222222;
    --color-hover-overlay: rgba(0, 0, 0, 0.03);
    /* 
  Dark theme overrides 
  */
    --color-text-dark: #fffff2;
    --color-text-foreground-dark: #FFF0DD;
    --color-background-dark: #0C0C0C;
    --color-foreground-dark: oklch(0.9 0.02 260);
    --color-card-dark: rgba(16, 24, 40, 1);
    --color-card-foreground-dark: oklch(0.9 0.02 260);
    --color-border-dark: rgba(252, 249, 234, .1);
    --color-button-primary-dark: #0F0E0E;
    --color-button-foreground-dark: #C40C0C;
    --color-text-input-dark: #121212;
    --color-text-input-foreground-dark: #0B192C;
    --color-hover-overlay-dark: rgba(255, 255, 255, 0.03);
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .pb-safe-area-inset-bottom {
        padding-bottom: env(safe-area-inset-bottom, 20px);
    }

    .animate-in {
        animation: animate-in 0.3s ease-out forwards;
    }

    .fade-in {
        opacity: 0;
    }

    .slide-in-from-bottom-8 {
        transform: translateY(2rem);
    }

    .slide-in-from-left-4 {
        transform: translateX(-1rem);
    }

    .slide-in-from-right-4 {
        transform: translateX(1rem);
    }

    .slide-in-from-top-4 {
        transform: translateY(-1rem);
    }

    .zoom-in-95 {
        transform: scale(0.95);
    }

    .duration-500 {
        animation-duration: 0.5s;
    }

    .duration-300 {
        animation-duration: 0.3s;
    }
}

@keyframes animate-in {
    to {
        opacity: 1;
        transform: translateY(0) translateX(0) scale(1);
    }
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}